*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Styling for the navigation bar */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(43, 41, 41, 0.726);
  
  }

.nav-links{
    display:flex;
    list-style: none;
    letter-spacing: 2px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.7s ease;
}

ul li a:hover{
    background-color: rgb(172, 168, 168);
    color: #000;
}

ul li.active a{
    background-color: rgb(172, 168, 168);
    color: #000;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #fff;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../Images/Workplace.avif) ;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #303436;
    color: #fff;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.form-complaint {
    margin: auto;
    width: 100%;
    max-width: 445px;
    display: flex;
    flex-direction: column;
}